.contato {
    background: linear-gradient(#ffffff, gray);
    text-align: center;
    padding: 2rem 0;
}

.contato-titulo {
    color: darkblue;
}

.contato-subtitulo {
    color: darkblue;
}

.contato-descricao {
    padding-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .contato {
        padding: 0 5%;
        padding-bottom: 1rem;
    }
}