.orcamento {
    text-align: center;
}

.orcamento-titulo {
    font-weight: bold;
    color: darkblue;
    padding: 1.5rem;
}

.orcamento-descricao {
    line-height: 1.5;
}

@media screen and (max-width: 480px) {
    .orcamento {
        padding: 0 5%;
        padding-bottom: 1rem;
    }
}